.redBackgroundColor{
    background-color: #e33939;
}

.flexBackground{
    display: flex;
    justify-content: center;

}

img{
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    align-items: flex-end;
    display: flex;
    border-radius: 50%;


}

#Image{
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.center{
    text-align: center;
}

h1{
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 450%;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px #000000;
    margin-top: 125px;
    margin-left: 15px;
}

h3{
    color: rgb(255, 255, 255);
    font-family: Ubuntu;
    font-weight: 700;
    margin: 0px;
    margin-left: 15px;
}

#button{
    background-color: #e33939; 
    border:solid;
    border-color: #ffffff;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-family: Ubuntu;
    font-weight: 700;
    
}

#button:hover{
    background-color: #ffffff; 
    border-color: #e33939;
    color: #e33939;
}

input[type=text]{
    width: 70%;
    padding: 12px 20px;
    margin: 12px 15px;
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    background-color: #e33939;
    box-sizing: border-box;
    border-radius: 5px;
    color: #ffffff;
    font-family: Ubuntu;
    font-weight: 700;
}

.output{
    color:#ffffff;
    font-family: Ubuntu;
    font-weight: 700;
    margin: 15px 0px 0px 15px;
}

.Column1{
    flex-basis: 50%;
}

.Column2{
    flex-basis: 50%;
}

#Gender{
    padding: 5px;
}

#Age{
    padding: 5px;
}

#Nationality{
    padding: 5px;
}

@media only screen and (max-width:1000px){
    h1{
        font-size: 350%;
        margin-top: 175px;
    }

    img{
        width: 400px;
        height: 400px;
    }
    
    #Image{
        margin-top: 150px;
    }

    #button{
        padding: 8px 16px;
    }

    input[type=text]{
        width: 50%;
        padding: 8px 16px;
    }
}

@media only screen and (max-width:850px){
    img{
        width: 350px;
        height: 350px;
    }

    h1{
        font-size: 300%;
        margin-top: 200px;
    }

    #Image{
        margin-top: 175px;
    }
}

@media only screen and (max-width:770px){

    h1{
        font-size: 275%;
        margin-top: 200px;
    }
}


@media only screen and (max-width:700px){
    img{
        width: 300px;
        height: 300px;
    }

    h1{
        font-size: 250%;
        margin-top: 50px;
    }

    #Image{
        margin-top: 50px;
    }

    h3{
        font-size: medium;
    }

    .flexBackground{
       flex-direction: column;
    }

    input[type=text]{
        width: 70%;
    }
}

@media only screen and (max-width:450px){
    img{
        width: 300px;
        height: 300px;
    }

    h1{
        font-size: 200%;
    }

    #Image{
        margin-top: 50px;
    }

    h3{
        font-size: medium;
    }

    input[type=text]{
        width: 60%;
    }
}

@media only screen and (max-width:350px){
    img{
        width: 250px;
        height: 250px;
    }

    h1{
        font-size: 150%;
    }

    input[type=text]{
        width: 50%;
    }
}

@media only screen and (max-width:300px){
    img{
        width: 200px;
        height: 200px;
    }

    h1{
        font-size: 140%;
    }

    input[type=text]{
        width: 40%;
    }

    #Image{
        margin-top: 20px;
    }

    h3{
        font-size:small;
    }
}